<!DOCTYPE html>
<html>
    <head>
        <title>Crystalized Code</title>
    </head> 
    <body>
        <header>
            <h1><a = href="/">Crystalized Code Blog</a></h1>
        </header>
    
    <article>
        <time>published: 09.06.2023, 05:11</time>
        <h2><a href="">My first post</a></h2>
        <p>This is just a test run to see if these posts are going to work.
            Let's see if this is going to post!
        </p>
    </article>

    <article>
        <time>published: 09.06.2023, 05:15</time>
        <h2><a href="">My second post</a></h2>
        <p>Alright, guys. This is the second test run to see if these posts work.
            It's honestly just all one test.
        </p>
    </article>
    </body>
</html>